##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
#Code goes here
juara=""

2. > Create a variable containing your name (Points : 5)

In [ ]:
#Code goes here
manusia="fajar"

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
#Code goes here
barang=("hp","laptop","pc","tablet","motor")

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
#Code goes here
negara ={
    "asia":["indonesia","malaysia"],
    "luas":[20091,201]
}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
#Code goes here
#pelanggan membeli 20 barang dan mendapat diskon 10%
price=12000
qs=20
dis=0.1
h1=price*qs#h1(hasil 1)menghitung total price dikali quantity_sold
h2=h1*dis#h2(hasil 2)menhitung total h1 dikali diskon(0.1)
totalbayar=h1-h2
totalbayar

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#Code goes here
contries=["indonesia","rusia","palestina","amerika","timor-timor","israel","turkie"]

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

#Code goes here
print(contries[0:4])

['indonesia', 'rusia', 'palestina', 'amerika']

In [ ]:
# Append new country to the list (Points : 5)

#Code goes here
contries.append("cina")#kepencet 2 kali maap jadi 2 cina nya :v
contries

['indonesia',
 'rusia',
 'palestina',
 'amerika',
 'timor-timor',
 'israel',
 'turkie',
 'cina',
 'cina']

In [ ]:
# Drop one country from the list (Points : 5)

#Code goes here
contries.remove("israel")

In [ ]:
contries

['indonesia',
 'rusia',
 'palestina',
 'amerika',
 'timor-timor',
 'turkie',
 'cina',
 'cina']

In [ ]:
# Get country in the last index (Points : 5)
contries[6]

#Code goes here

'cina'

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)
customer.keys()
#Code goes here

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
# Print all customer names (Points : 5)
customer.get("name")
#Code goes here

['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
# Print the first customer name (Points : 5)
customer["name"][0]
#Code goes here

'Dio'

In [ ]:
# Drop "age" key from the dictionary (Points : 5)
del customer["age"]
#Code goes here

In [ ]:
customer

{'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver'],
 'name': ['Dio', 'Eka', 'Wayu', 'Riki']}

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 
customer["gender"]=["male","famale","famale","male"]
customer
#Code goes here

{'age': [20, 19, 24, 39],
 'gender': ['male', 'famale', 'famale', 'male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver'],
 'name': ['Dio', 'Eka', 'Wayu', 'Riki']}